@font-face{
	font-family: Source-Sans-Pro-Regular;
	src: url(SourceSansPro-Regular.otf);
}
@font-face{
	font-family: Frutiger
	src: url(Frutiger.ttf)
}
body{
	font-family: Frutiger;
	text-align: center;
}
#main{
	background-color:#ffffff;
}
.Red{
	color: #F76E64;
}
.Cyan{
	color: #1FBFDC;
}
a{
	color: white;
	font-size: 20px;
	text-decoration: underline;
}
a:hover{
	color:black;
	text-decoration: none;
}
h1{
margin-top: 0px;
font-size: 50px;
}
h1,h2{
	font-family: Frutiger;
	font-weight: bold;
}
h2{
	margin:0px;
	font-size: 30px;
	font-style: italic;
}
.col-md-6{
	background-color: #1FBFDC;
	height: 320px;
}
.item{
	height: 100px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
	position:relative;
	left: 38vw;
	height: 100px;
}
.carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(31,191,205,1) 100%);
}
.carousel-control.left{
background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(31,191,205,1) 100%);

}
